{% extends 'base.html.twig' %}

{% block title %}Commande validee{% endblock %}

{% block body %}
    <section class="py-5 text-center">
        <h1 class="mb-3">Merci pour votre commande</h1>
        <p class="lead mb-4">Votre paiement a ete pris en compte et votre panier a ete vide.</p>
        <a class="btn btn-primary" href="{{ path('app_home') }}">Retour a l'accueil</a>
    </section>
{% endblock %}
