{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe{% endblock %}

{% block body %}
    <h1>Modifier votre mot de passe</h1>

    {{ include('profil/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_profil_show') }}">Retour au profil</a>
{% endblock %}