{% extends 'base.html.twig' %}

{% block title %}
    Modifier profil
{% endblock %}

{% block body %}
    <h1>Modifier profil</h1>

    {{ include('profil/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_profil_show') }}">Retour au profil</a>

    {{ include('profil/_delete_form.html.twig') }}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const sameAsDeliveryCheckbox = document.getElementById('profile_sameAsDelivery');

            const billingAddressContainer = document.getElementById('billing-address-container');

            function toggleBillingAddressFields() {
                if (sameAsDeliveryCheckbox.checked) {
                    billingAddressContainer.style.display = 'none';
                    } else {
                    billingAddressContainer.style.display = 'block';
                }
            }

            if (sameAsDeliveryCheckbox) {
                toggleBillingAddressFields();
                sameAsDeliveryCheckbox.addEventListener('change', toggleBillingAddressFields);
            }
        });
    </script>
{% endblock %}
